<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
<!--
  window.setTimeout(
   function() {
      window.location = 'itms://itunes.apple.com/us/app/peck-williams/id702672553?mt=8';
   },
   100
);
   window.location="peckapp://";
//-->
</script>
</head>
<body>
  <h1>Peck Plain Deep Link</h1>

</body>
</html>
