<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style type="text/css">
  p {margin:.4em 0 .4em 0
     }   ​
  </style>
</head>
<body background="http://localhost:3000/images/gradient1.jpg">
  <h1><font face="tahoma"><center><%= @simple_event.title %></center></font><h1>

    <center><img src="http://loki.peckapp.com:3500<%=@simple_event.image.url%>" height="230" width="230"></center>


    <h2><font face="tahoma"><i><center><%= "#{@simple_event.start_date.strftime('%B %e, %l:%M %p')} - #{@simple_event.end_date.strftime('%B %e, %l:%M %p %Z')}" %></center></i></font><h2>

      <p width="10"><i><font size="4" face="tahoma"><center><%= @simple_event.event_description %></center></font></i></p>

      <p><center><i><font size="4.3" face="tahoma" color="navy">To attend, like, or comment on this event, please use a mobile device with Peck.</font></i></center></p>
      <center><img src="http://loki.peckapp.com:3500/images/bird.png" height="200" width="200"></center>
</body>
</html>
