<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your username is: <%= @user.email %>.<br>
    </p>

    <p>
      You temporary password is: <%= @temp_password %>
    </p>

    <p>
      <% host_name = Rails.env.production? ? "https://yggdrasil.peckapp.com" : "http://loki.peckapp.com:3500" %>
      Click <%= link_to "here", desktop_mobile_resets_url(host: host_name, id: @id, user: {password: @temp_password}) %> to confirm resetting your password to your temporary password.
    </p>
  </body>
</html>
