<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
    <h1><font size="7" face="tahoma"><center>Thank you for confirming your registration for Peck!</center></font></h1>
    <h2><font size="6" face="tahoma"><center>You may click on the woodpecker to begin.</center></font></h2>
    <a href="peckapp://"><center><img src="http://s3.amazonaws.com/peck_development/images/bird.png" border="0"></center></a>
  </body>
</html>
