<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
    <h1>Thank you for confirming your registration for Peck!</h1>
    <h2>If you are on a mobile device, you may click the following link to return to <%= link_to("Peck", "peckapp://") %></h2>
  </body>
</html>
