<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
    <h1><font size="7">Thank you for confirming your registration for Peck!</font></h1>
    <h2><font size="6">If you are on a mobile device, you may click on the woodpecker to return to Peck.</font></h2>
    <a href="peckapp://"><img src="http://loki.peckapp.com:3500/images/bird.png" border="0"></a>
  </body>
</html>
