<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= "Institution: #{@institution} %>
      <%= "Body: #{@content}" %>
    </p>
  </body>
</html>
