<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript">
        window.history.pushState("http://loki.peckapp.com:3500/mobile_resets/desktop", "Peck", "peck/password-reset");
  </script>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><center>You may use your temporary password to log in with Peck on a mobile device.</center></h1>
  </body>
</html>
