<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><center>You may use your temporary password to log in with Peck on a mobile device.</center></h1>
  </body>
</html>
