<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You may use your temporary password to log in with Peck on a mobile device.
   </p>
  </body>
</html>
